<h1>Create a Team and Heroes!</h1>
<form method="POST" action="/teams">
    <h1>Team</h1>
    <br>
    <label for='name'>Name: </label>
    <input name="team[name]" type="text"/>
    <br>
    <label for='motto'>Motto: </label>
    <input name="team[motto]" type="text"/>
    <br>
    <label for='power'>Power: </label>
    <input name="team[members][][power]" type="text"/>
    <br>
    <label for='bio'>bio: </label>
    <input name="team[members][][bio]" type="text"/>
    <br>
    <label for='name'>Name: </label>
    <input name="team[members][][name]" type="text"/>
    <br>
    <label for='power'>Power: </label>
    <input name="team[members][][power]" type="text"/>
    <br>
    <label for='bio'>bio: </label>
    <input name="team[members][][bio]" type="text"/>
    <br>
    <label for='name'>Name: </label>
    <input name="team[members][][name]" type="text"/>
    <br>
    <label for='power'>Power: </label>
    <input name="team[members][][power]" type="text"/>
    <br>
    <label for='bio'>bio: </label>
    <input name="team[members][][bio]" type="text"/>

    <input name="submit" value="submit" type="submit"/>

</form>
